In [1]:
import os, re
from IPython.display import display_html

import pygments.lexers
from pygments import highlight
from pygments.formatters import HtmlFormatter

CONNECTION_STRING = os.getenv('AWSGPDBCONN')

cs = re.match('^postgresql:\/\/(\S+):(\S+)@(\S+):(\S+)\/(\S+)$', CONNECTION_STRING)

DB_USER   = cs.group(1)
DB_PWD    = cs.group(2)
DB_SERVER = cs.group(3)
DB_PORT   = cs.group(4)
DB_NAME   = cs.group(5)

%reload_ext sql

In [3]:
%sql $CONNECTION_STRING
%sql $DB_USER@$DB_NAME {"SELECT version();"}

1 rows affected.

[('PostgreSQL 9.4.24 (Greenplum Database 6.12.0 build commit:4c176763c7619fb678ce38095e6b3e8fb9548186) on x86_64-unknown-linux-gnu, compiled by gcc (GCC) 6.4.0, 64-bit compiled on Oct 28 2020 19:42:15',)]

In [79]:
sqlfilecode = !pygmentize -f html -O full,style=friendly -l postgres script/2-1-create-db-schema-table.sql
display_html('\n'.join(sqlfilecode), raw=True)

In [80]:
query = !cat script/2-1-create-db-schema-table.sql
%sql $DB_USER@$DB_NAME {''.join(query)}

Done.
Done.
Done.
Done.

[]

In [119]:
%%sql 
DROP EXTERNAL TABLE IF EXISTS demo.amzn_reviews_ext;
CREATE EXTERNAL TABLE demo.amzn_reviews_ext(
    marketplace TEXT, 
    customer_id BIGINT, 
    review_id TEXT, 
    product_id TEXT, 
    product_parent BIGINT, 
    product_title TEXT, 
    product_category TEXT, 
    star_rating INTEGER, 
    helpful_votes INTEGER, 
    total_votes INTEGER, 
    vine TEXT, 
    verified_purchase TEXT, 
    review_headline TEXT, 
    review_body TEXT, 
    review_date DATE) 
LOCATION ('pxf://amazon-reviews-pds/tsv/?PROFILE=s3:text&SERVER=s3srvcfg')
FORMAT 'TEXT' (HEADER ) SEGMENT REJECT LIMIT 1000 ROWS;
SELECT * FROM demo.amzn_reviews_ext LIMIT 1;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
Done.
1 rows affected.

[('US', 12039526, 'RTIS3L2M1F5SM', 'B001CXYMFS', 737716809, 'Thrustmaster T-Flight Hotas X Flight Stick', 'Video Games', 5, 0, 0, 'N', 'Y', 'an amazing joystick. I especially love that you can twist ...', 'Used this for Elite Dangerous on my mac, an amazing joystick. I especially love that you can twist the stick for different movement bindings as well as move it in the normal way.', datetime.date(2015, 8, 31))]

In [76]:
%%sql 
DROP EXTERNAL TABLE IF EXISTS demo.amzn_reviews_ext_parquet;
CREATE EXTERNAL TABLE demo.amzn_reviews_ext_parquet (
    marketplace TEXT, 
    customer_id BIGINT, 
    review_id TEXT, 
    product_id TEXT, 
    product_parent BIGINT, 
    product_title TEXT, 
    star_rating INTEGER, 
    helpful_votes INTEGER, 
    total_votes INTEGER, 
    vine TEXT, 
    verified_purchase TEXT, 
    review_headline TEXT, 
    review_body TEXT, 
    review_date DATE) 
LOCATION ('pxf://amazon-reviews-pds/parquet/*?PROFILE=s3:parquet&SERVER=s3srvcfg')
FORMAT 'TEXT' ( HEADER )
LOG ERRORS SEGMENT REJECT LIMIT 1000;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
Done.

[]

In [47]:
%%sql
SELECT COUNT(*) FROM demo.amzn_reviews_ext_parquet;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
1 rows affected.

[(160789831,)]

In [10]:
%%sql
SELECT marketplace, COUNT(*) FROM demo.amzn_reviews_ext GROUP BY marketplace;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
5 rows affected.

[('US', 157886668),
 ('JP', 262429),
 ('UK', 1707471),
 ('FR', 254116),
 ('DE', 679106)]

In [86]:
%%sql
--DROP TABLE IF EXISTS demo.amzn_reviews_summary; 
--SELECT * FROM madlib.summary('demo.amzn_reviews_ext', 'demo.amzn_reviews_summary', 
--                            NULL, NULL, 
--                            TRUE, FALSE);

SELECT 
    target_column
    , data_type
    , row_count
    , distinct_values
    , missing_values
    , blank_values
    , positive_values
    , negative_values
    , zero_values
    , (row_count / distinct_values::float8)
    , (distinct_values::float8 / row_count)
FROM demo.amzn_reviews_summary;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
15 rows affected.

[('marketplace', 'text', 3105464, 1, 0, 0, None, None, None, None, 3105464.0),
 ('customer_id', 'int8', 3105464, 1594733, 0, None, 3105464, 0, 0, 104367252300574.0, 1.94732535164194),
 ('review_id', 'text', 3105464, 3105464, 0, 0, None, None, None, None, 1.0),
 ('product_id', 'text', 3105464, 832669, 0, 0, None, None, None, None, 3.72952998130109),
 ('product_parent', 'int8', 3105464, 685185, 0, None, 3105464, 0, 0, 8.28531638988266e+16, 4.53230003575677),
 ('product_title', 'text', 3105464, 702087, 0, 0, None, None, None, None, 4.4231897186531),
 ('product_category', 'text', 3105464, 1, 0, 0, None, None, None, None, 3105464.0),
 ('star_rating', 'int4', 3105464, 5, 0, None, 3105464, 0, 0, 1.55223801357914, 621092.8),
 ('helpful_votes', 'int4', 3105464, 942, 0, None, 2645552, 0, 459912, 687.696303106136, 3296.67091295117),
 ('total_votes', 'int4', 3105464, 1024, 0, None, 2789289, 0, 316175, 914.722979030818, 3032.6796875),
 ('vine', 'text', 3105464, 2, 0, 0, None, None, None, None, 1552732.0),
 ('verified_purchase', 'text', 3105464, 2, 0, 0, None, None, None, None, 1552732.0),
 ('review_headline', 'text', 3105464, 2439518, 0, 1764, None, None, None, None, 1.27298261377862),
 ('review_body', 'text', 3105464, 3021343, 0, 17, None, None, None, None, 1.02784225425581),
 ('review_date', 'date', 3105464, 3575, 0, None, None, None, None, None, 868.661258741259)]

In [147]:
%%sql 
/*DROP TABLE IF EXISTS demo.amzn_reviews_1_1;
CREATE TABLE demo.amzn_reviews_1_1 AS
SELECT marketplace
    , customer_id
    , review_id
    , product_id
    , product_parent
    , product_title
    , product_category
    , star_rating
    , helpful_votes
    , total_votes
    , vine
    , verified_purchase
    , review_headline
    , review_body
    , review_date
FROM demo.amzn_reviews_ext
DISTRIBUTED RANDOMLY;
*/
DROP TABLE IF EXISTS demo.amzn_reviews_1_2;
CREATE TABLE demo.amzn_reviews_1_2 
WITH (appendoptimized=true) AS
SELECT marketplace
    , customer_id
    , review_id
    , product_id
    , product_parent
    , product_title
    , product_category
    , star_rating
    , helpful_votes
    , total_votes
    , vine
    , verified_purchase
    , review_headline
    , review_body
    , review_date
FROM demo.amzn_reviews_1_1
DISTRIBUTED RANDOMLY;

DROP TABLE IF EXISTS demo.amzn_reviews_2_1;
CREATE TABLE demo.amzn_reviews_2_1 AS
SELECT marketplace
    , customer_id
    , review_id
    , product_id
    , product_parent
    , product_title
    , product_category
    , star_rating
    , helpful_votes
    , total_votes
    , vine
    , verified_purchase
    , review_headline
    , review_body
    , review_date
FROM demo.amzn_reviews_1_1
DISTRIBUTED BY (review_id);


DROP TABLE IF EXISTS demo.amzn_reviews_3_1;
CREATE TABLE demo.amzn_reviews_3_1 AS
SELECT marketplace
    , customer_id
    , review_id
    , product_id
    , product_parent
    , product_title
    , product_category
    , star_rating
    , helpful_votes
    , total_votes
    , vine
    , verified_purchase
    , review_headline
    , review_body
    , review_date
FROM demo.amzn_reviews_1_1
DISTRIBUTED BY (review_id, customer_id);

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
160789790 rows affected.
Done.
160789790 rows affected.
Done.
160789790 rows affected.

[]

In [148]:
%%sql
ANALYSE demo.amzn_reviews_1_1;
ANALYSE demo.amzn_reviews_1_2;
ANALYSE demo.amzn_reviews_2_1;
ANALYSE demo.amzn_reviews_3_1;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
Done.
Done.
Done.

[]

In [140]:
%%sql
EXPLAIN ANALYZE SELECT COUNT(*), customer_id, star_rating FROM demo.amzn_reviews_1 GROUP BY customer_id, star_rating;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
20 rows affected.

[('Gather Motion 72:1  (slice2; segments: 72)  (cost=0.00..1878.79 rows=6620966 width=20) (actual time=6421.115..14805.374 rows=55833629 loops=1)',),
 ('  ->  HashAggregate  (cost=0.00..1579.04 rows=91958 width=20) (actual time=6437.166..6598.272 rows=777429 loops=1)',),
 ('        Group Key: customer_id, star_rating',),
 ('        Extra Text: (seg42)  Hash chain length 3.1 avg, 14 max, using 248682 of 262144 buckets; total 13 expansions.',),
 ('',),
 ('        ->  Redistribute Motion 72:72  (slice1; segments: 72)  (cost=0.00..1555.53 rows=91958 width=20) (actual time=1840.205..4200.650 rows=2014893 loops=1)',),
 ('              Hash Key: customer_id, star_rating',),
 ('              ->  Result  (cost=0.00..1549.77 rows=91958 width=20) (actual time=2068.010..3541.064 rows=2008238 loops=1)',),
 ('                    ->  HashAggregate  (cost=0.00..1549.77 rows=91958 width=20) (actual time=2068.007..3085.564 rows=2008238 loops=1)',),
 ('                          Group Key: customer_id, star_rating',),
 ('                          Extra Text: (seg35)  Hash chain length 3.9 avg, 16 max, using 513006 of 524288 buckets; total 14 expansions.',),
 ('',),
 ('                          ->  Seq Scan on amzn_reviews_1  (cost=0.00..940.14 rows=2236023 width=12) (actual time=0.060..720.216 rows=2237678 loops=1)',),
 ('Planning time: 3.708 ms',),
 ('  (slice0)    Executor memory: 151K bytes.',),
 ('  (slice1)    Executor memory: 133756K bytes avg x 72 workers, 134000K bytes max (seg35).',),
 ('  (slice2)    Executor memory: 52789K bytes avg x 72 workers, 52931K bytes max (seg42).',),
 ('Memory used:  1888256kB',),
 ('Optimizer: Pivotal Optimizer (GPORCA)',),
 ('Execution time: 17832.155 ms',)]

In [141]:
%%sql
EXPLAIN ANALYZE SELECT COUNT(*), customer_id, star_rating FROM demo.amzn_reviews_2 GROUP BY customer_id, star_rating;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
20 rows affected.

[('Gather Motion 72:1  (slice2; segments: 72)  (cost=0.00..1931.92 rows=7682077 width=20) (actual time=6313.370..14761.991 rows=55833629 loops=1)',),
 ('  ->  HashAggregate  (cost=0.00..1584.14 rows=106696 width=20) (actual time=6328.560..6487.077 rows=777429 loops=1)',),
 ('        Group Key: customer_id, star_rating',),
 ('        Extra Text: (seg42)  Hash chain length 3.1 avg, 14 max, using 248682 of 262144 buckets; total 13 expansions.',),
 ('',),
 ('        ->  Redistribute Motion 72:72  (slice1; segments: 72)  (cost=0.00..1556.86 rows=106696 width=20) (actual time=1803.491..4085.755 rows=1934811 loops=1)',),
 ('              Hash Key: customer_id, star_rating',),
 ('              ->  Result  (cost=0.00..1550.18 rows=106696 width=20) (actual time=2696.306..4022.566 rows=1928417 loops=1)',),
 ('                    ->  HashAggregate  (cost=0.00..1550.18 rows=106696 width=20) (actual time=2696.305..3613.222 rows=1928417 loops=1)',),
 ('                          Group Key: customer_id, star_rating',),
 ('                          Extra Text: (seg1)   Hash chain length 3.8 avg, 15 max, using 511010 of 524288 buckets; total 14 expansions.',),
 ('',),
 ('                          ->  Seq Scan on amzn_reviews_2  (cost=0.00..940.96 rows=2234206 width=12) (actual time=0.043..1033.252 rows=2238167 loops=1)',),
 ('Planning time: 4.152 ms',),
 ('  (slice0)    Executor memory: 151K bytes.',),
 ('  (slice1)    Executor memory: 128780K bytes avg x 72 workers, 129004K bytes max (seg1).',),
 ('  (slice2)    Executor memory: 52789K bytes avg x 72 workers, 52931K bytes max (seg42).',),
 ('Memory used:  1888256kB',),
 ('Optimizer: Pivotal Optimizer (GPORCA)',),
 ('Execution time: 17794.773 ms',)]

In [142]:
%%sql
EXPLAIN ANALYZE SELECT COUNT(*), customer_id, star_rating FROM demo.amzn_reviews_3 GROUP BY customer_id, star_rating;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
20 rows affected.

[('Gather Motion 72:1  (slice2; segments: 72)  (cost=0.00..1888.84 rows=6821064 width=20) (actual time=6098.043..14528.420 rows=55833629 loops=1)',),
 ('  ->  HashAggregate  (cost=0.00..1580.04 rows=94737 width=20) (actual time=6114.202..6285.618 rows=777429 loops=1)',),
 ('        Group Key: customer_id, star_rating',),
 ('        Extra Text: (seg42)  Hash chain length 3.1 avg, 14 max, using 248682 of 262144 buckets; total 13 expansions.',),
 ('',),
 ('        ->  Redistribute Motion 72:72  (slice1; segments: 72)  (cost=0.00..1555.81 rows=94737 width=20) (actual time=1781.057..3823.407 rows=1934708 loops=1)',),
 ('              Hash Key: customer_id, star_rating',),
 ('              ->  Result  (cost=0.00..1549.88 rows=94737 width=20) (actual time=1973.009..3626.598 rows=1928756 loops=1)',),
 ('                    ->  HashAggregate  (cost=0.00..1549.88 rows=94737 width=20) (actual time=1973.007..3119.252 rows=1928756 loops=1)',),
 ('                          Group Key: customer_id, star_rating',),
 ('                          Extra Text: (seg55)  Hash chain length 3.8 avg, 16 max, using 511281 of 524288 buckets; total 14 expansions.',),
 ('',),
 ('                          ->  Seq Scan on amzn_reviews_3  (cost=0.00..940.85 rows=2233756 width=12) (actual time=0.045..641.034 rows=2236931 loops=1)',),
 ('Planning time: 4.104 ms',),
 ('  (slice0)    Executor memory: 151K bytes.',),
 ('  (slice1)    Executor memory: 128778K bytes avg x 72 workers, 129004K bytes max (seg55).',),
 ('  (slice2)    Executor memory: 52789K bytes avg x 72 workers, 52931K bytes max (seg42).',),
 ('Memory used:  1888256kB',),
 ('Optimizer: Pivotal Optimizer (GPORCA)',),
 ('Execution time: 17507.684 ms',)]

In [5]:
%sql DROP TABLE IF EXISTS test100; 
%sql CREATE TABLE test100 (a, b) AS SELECT generate_series(1, 100) * random() * 10 AS a, generate_series(1, 100) * random() * 10 AS b DISTRIBUTED BY (a);
#%sql SELECT * FROM test100;
%sql DROP TABLE IF EXISTS test100_summary; 
%sql SELECT * FROM madlib.summary('test100', 'test100_summary');
#%sql SELECT * FROM test100_summary;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
100 rows affected.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
1 rows affected.

[('test100_summary', 2, 0.147065877914429)]

In [6]:
%sql DROP TABLE IF EXISTS test1000; 
%sql CREATE TABLE test1000 (a, b) AS SELECT generate_series(1, 1000) * random() * 10 AS a, generate_series(1, 1000) * random() * 10 AS b DISTRIBUTED BY (a);
%sql SELECT * FROM test1000;
%sql DROP TABLE IF EXISTS test1000_summary; 
%sql SELECT * FROM madlib.summary('test1000', 'test1000_summary');
#%sql SELECT * FROM test100_summary;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
1000 rows affected.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
1000 rows affected.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
1 rows affected.

[('test1000_summary', 2, 0.110813140869141)]

In [7]:
%sql DROP TABLE IF EXISTS test10K; 
%sql CREATE TABLE test10K (a, b) AS SELECT generate_series(1, 10000) * random() * 10 AS a, generate_series(1, 10000) * random() * 10 AS b DISTRIBUTED BY (a);
#%sql SELECT * FROM test10K;
%sql ANALYZE test10K;
%sql DROP TABLE IF EXISTS test10K_summary; 
%sql SELECT * FROM madlib.summary('test10K', 'test10K_summary');
#%sql SELECT * FROM test10K_summary;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
10000 rows affected.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
1 rows affected.

[('test10K_summary', 2, 0.593071937561035)]

In [59]:
%sql DROP TABLE IF EXISTS test100K; 
%sql CREATE TABLE test100K (a, b) AS SELECT generate_series(1, 100000) * random() * 10 AS a, generate_series(1, 100000) * random() * 10 AS b DISTRIBUTED BY (a);
#%sql SELECT * FROM test100K;
%sql ANALYZE test100K;
%sql DROP TABLE IF EXISTS test100K_summary; 
%sql SELECT * FROM madlib.summary('test100K', 'test100K_summary');
%sql SELECT * FROM test100K_summary;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
100000 rows affected.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
1 rows affected.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
2 rows affected.

[(None, None, 'a', 1, 'float8', 100000, 99671, 0, None, 0.0, None, 100000, 0, 0, 20467.9307253425, 139643999.619154, [20394.6875421145, 20541.1739085705], 0.409354520961642, 40935.4520961642, 10234.1700399318, 20467.9307253426, 30701.6914107534, ['39463.0038842652', '37961.0821468569', '37588.5695327818', '36711.732148882', '38043.7717600912', '40920.3059788886', '40186.3333228044', '38939.8488064762', '33394.7324655298', '37574.2421245482'], [100, 100, 99, 99, 99, 99, 98, 96, 96, 96]),
 (None, None, 'b', 2, 'float8', 100000, 93400, 0, None, 0.0, None, 100000, 0, 0, 390285.850149114, 50773840537.1345, [388889.237154017, 391682.463144211], 7.80563894659281, 780563.894659281, 195146.82789403, 390285.850149114, 585424.872404197, ['693835.440323688', '703654.934118502', '776778.159770183', '670957.112571225', '646611.324696802', '772305.528653786', '730381.441871636', '740497.54994642', '631109.325748868', '775841.483096592'], [100, 100, 99, 99, 98, 98, 97, 97, 97, 97])]

In [26]:
%%sql
EXPLAIN SELECT 
	array['a','b']::text[] as target_column, 
	array['float8','float8']::text[] as datatype, 
	array[1,2]::integer[] as colnum, 
	count(*)::bigint as rowcount, 
	array[sum(case when a > 0 then 1 else 0 end),sum(case when b > 0 then 1 else 0 end)]::bigint[] as positive_values, 
	array[sum(case when a < 0 then 1 else 0 end),sum(case when b < 0 then 1 else 0 end)]::bigint[] as negative_values, 
	array[sum(case when a = 0 then 1 else 0 end),sum(case when b = 0 then 1 else 0 end)]::bigint[] as zero_values, 
	array[avg(a),avg(b)]::float8[] as mean, 
	array[variance(a),variance(b)]::float8[] as variance, 
	array[madlib.fmsketch_dcount(a),madlib.fmsketch_dcount(b)]::bigint[] as distinct_values, 
	array[sum(case when a is null then 1 else 0 end),sum(case when b is null then 1 else 0 end)]::bigint[] as missing_values, 
	array[NULL,NULL]::bigint[] as blank_values, 
	array[min(a),min(b)]::float8[] as min, 
	array[max(a),max(b)]::float8[] as max, 
--	array[percentile_cont(0.25) WITHIN GROUP (ORDER BY a),percentile_cont(0.25) WITHIN GROUP (ORDER BY b)]::float8[] as first_quartile, 
--	array[percentile_cont(0.5) WITHIN GROUP (ORDER BY a),percentile_cont(0.5) WITHIN GROUP (ORDER BY b)]::float8[] as median, 
--	array[percentile_cont(0.75) WITHIN GROUP (ORDER BY a),percentile_cont(0.75) WITHIN GROUP (ORDER BY b)]::float8[] as third_quartile, 
	array[array_to_string(array[NULL], ',')]::text[] as ntiles, 
	array[ 
	array_to_string((madlib.mfvsketch_quick_histogram( 
		a,10))[0:10-1][0:0], 
	'_.*.&.!.!.&.*_'), 
	array_to_string((madlib.mfvsketch_quick_histogram( 
		b,10))[0:10-1][0:0], 
	'_.*.&.!.!.&.*_')]::text[] as mfv_value, 
	array[ 
	array_to_string((madlib.mfvsketch_quick_histogram( 
		a,10))[0:10-1][1:1], 
	'_.*.&.!.!.&.*_'), 
	array_to_string((madlib.mfvsketch_quick_histogram( 
		b,10))[0:10-1][1:1], 
	'_.*.&.!.!.&.*_')]::text[] as mfv_count 
FROM test100M;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
5 rows affected.

[('Result  (cost=0.00..431.00 rows=1 width=136)',),
 ('  ->  Aggregate  (cost=0.00..431.00 rows=1 width=184)',),
 ('        ->  Gather Motion 72:1  (slice1; segments: 72)  (cost=0.00..431.00 rows=1 width=16)',),
 ('              ->  Seq Scan on test100m  (cost=0.00..431.00 rows=1 width=16)',),
 ('Optimizer: Pivotal Optimizer (GPORCA)',)]

In [9]:
%sql DROP TABLE IF EXISTS test1M; 
%sql CREATE TABLE test1M (a, b) AS SELECT generate_series(1, 1000000) * random() * 10 AS a, generate_series(1, 1000000) * random() * 10 AS b DISTRIBUTED BY (a);
#%sql SELECT * FROM test1M;
%sql ANALYZE test1M;
%sql DROP TABLE IF EXISTS test1M_summary; 
%sql SELECT * FROM madlib.summary('test1M', 'test1M_summary');
#%sql SELECT * FROM test1M_summary;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
1000000 rows affected.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
1 rows affected.

[('test1M_summary', 2, 7.44582605361938)]

In [74]:
%%sql
DROP TABLE IF EXISTS test10M_summary; 
SELECT * FROM madlib.summary('test10M', 'test10M_summary', 
                            NULL, NULL, 
                            TRUE, FALSE);
SELECT * FROM test10M_summary;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
1 rows affected.
2 rows affected.

[(None, None, 'a', 1, 'float8', 10000000, 10000000, 0, None, 0.0, None, 10000000, 0, 0, 43607135.123834, 633860681183370.0, [43591530.5117182, 43622739.7359498], 8.72142615262419, 87214261.5262419, ['85784750.0084176', '86756831.4459629', '86820349.5926325', '86536798.5855584', '85095617.7995418', '87135350.0624129', '86361968.8769028', '86996897.42224', '87164043.5544551', '87195937.8098952'], [9796, 9792, 9785, 9767, 9764, 9764, 9758, 9752, 9711, 9701]),
 (None, None, 'b', 2, 'float8', 10000000, 9998781, 0, None, 0.0, None, 10000000, 0, 0, 46367740.3085844, 716655708775869.0, [46351147.8266397, 46384332.790529], 9.27354713436216, 92735471.3436216, ['92012190.3084242', '91945235.2981141', '92075194.787655', '92693054.1390291', '91656948.5383482', '91845340.6483827', '91774221.8154093', '92008824.0108144', '92260304.062004', '92701808.3675239'], [9803, 9760, 9756, 9743, 9737, 9729, 9728, 9723, 9715, 9708])]

In [68]:
%%sql
SELECT
    group_by as group_by,
    group_by_value as group_by_value,
    target_column as target_column,
    colnum as column_number,
    datatype as data_type,
    rowcount as row_count,
    
    (CASE WHEN rowcount < distinct_values THEN rowcount
    ELSE distinct_values
    END) AS distinct_values,
    missing_values as missing_values,
    blank_values as blank_values,
    (missing_values::float8 / rowcount) as fraction_missing,
    (blank_values::float8 / rowcount) as fraction_blank,
    positive_values,
    negative_values,
    zero_values,
    mean,
    variance,
    CASE WHEN ci_lower_bound is NULL OR ci_upper_bound is NULL
         THEN null
         ELSE ARRAY[ci_lower_bound, ci_upper_bound]
    END as confidence_interval,
    min,
    max,
--    first_quartile,
--    median,
--    third_quartile,

    mfv_value as most_frequent_values,
    mfv_count::bigint[] as mfv_frequencies
FROM
(
    SELECT
        group_by,
        group_by_value,
        target_column,
        datatype,
        colnum,
        rowcount,
        distinct_values,
        missing_values,
        blank_values,
        distinct_values::float8 / rowcount as fraction_distinct_values,
        missing_values::float8 / rowcount as fraction_missing_values,
        blank_values::float8 / rowcount as fraction_blank_values,
        positive_values,
        negative_values,
        zero_values,
        mean,
        variance,
        (mean - 1.96 * sqrt(variance / rowcount))::float8 as ci_lower_bound,
        (mean + 1.96 * sqrt(variance / rowcount))::float8 as ci_upper_bound,
        min,
        max,
--        first_quartile,
--        median,
--        third_quartile,
        ntiles,
        string_to_array(mfv_value, '_.*.&.!.!.&.*_') as mfv_value,
        string_to_array(mfv_count, '_.*.&.!.!.&.*_') as mfv_count
    FROM
    (
        SELECT
            group_by,
            group_by_value,
            unnest(target_column) AS target_column,
            unnest(datatype) AS datatype,
            unnest(colnum) AS colnum,
            rowcount,
            unnest(distinct_values) as distinct_values,
            unnest(missing_values) as missing_values,
            unnest(blank_values) as blank_values,
            unnest(positive_values) as positive_values,
            unnest(negative_values) as negative_values,
            unnest(zero_values) as zero_values,
            unnest(mean) as mean,
            unnest(variance) as variance,
            unnest(min) as min,
            unnest(max) as max,
--            unnest(first_quartile) as first_quartile,
--            unnest(median) as median,
--            unnest(third_quartile) as third_quartile,
            string_to_array(unnest(ntiles), ',') as ntiles,
            unnest(mfv_value) as mfv_value,
            unnest(mfv_count) as mfv_count
        FROM (
			SELECT
				NULL::text as group_by,
				NULL::text as group_by_value,
				array['a','b']::text[] as target_column,
				array['float8','float8']::text[] as datatype,
				array[1,2]::integer[] as colnum,
				count(*)::bigint as rowcount,
				array[sum(case when a > 0 then 1 else 0 end),sum(case when b > 0 then 1 else 0 end)]::bigint[] as positive_values,
				array[sum(case when a < 0 then 1 else 0 end),sum(case when b < 0 then 1 else 0 end)]::bigint[] as negative_values,
				array[sum(case when a = 0 then 1 else 0 end),sum(case when b = 0 then 1 else 0 end)]::bigint[] as zero_values,
				array[avg(a),avg(b)]::float8[] as mean,
				array[variance(a),variance(b)]::float8[] as variance,
				array[madlib.fmsketch_dcount(a),madlib.fmsketch_dcount(b)]::bigint[] as distinct_values,
				array[sum(case when a is null then 1 else 0 end),sum(case when b is null then 1 else 0 end)]::bigint[] as missing_values,
				array[NULL,NULL]::bigint[] as blank_values,
				array[min(a),min(b)]::float8[] as min,
				array[max(a),max(b)]::float8[] as max,
--				array[percentile_cont(0.25) WITHIN GROUP (ORDER BY a),percentile_cont(0.25) WITHIN GROUP (ORDER BY b)]::float8[] as first_quartile,
--				array[percentile_cont(0.5) WITHIN GROUP (ORDER BY a),percentile_cont(0.5) WITHIN GROUP (ORDER BY b)]::float8[] as median,
--				array[percentile_cont(0.75) WITHIN GROUP (ORDER BY a),percentile_cont(0.75) WITHIN GROUP (ORDER BY b)]::float8[] as third_quartile,
				array[array_to_string(array[NULL], ',')]::text[] as ntiles,
				array[
					array_to_string((madlib.mfvsketch_quick_histogram(
						a,10))[0:10-1][0:0],
						'_.*.&.!.!.&.*_'),
					array_to_string((madlib.mfvsketch_quick_histogram(
						b,10))[0:10-1][0:0],
						'_.*.&.!.!.&.*_')]::text[] as mfv_value,
				array[
					array_to_string((madlib.mfvsketch_quick_histogram(
						a,10))[0:10-1][1:1],
						'_.*.&.!.!.&.*_'),
					array_to_string((madlib.mfvsketch_quick_histogram(
						b,10))[0:10-1][1:1],
						'_.*.&.!.!.&.*_')]::text[] as mfv_count
			FROM test10M
		) q1
    ) q2
) q3

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
2 rows affected.

[(None, None, 'a', 1, 'float8', 10000000, 10000000, 0, None, 0.0, None, 10000000, 0, 0, 43607135.123834, 633860681183368.0, [43591530.5117183, 43622739.7359498], 8.72142615262419, 87214261.5262419, ['86756831.4459629', '86699863.090334', '86936091.6391039', '87035079.8259362', '86931652.4331923', '86909770.3749753', '86793914.9499639', '85934540.5025889', '86143976.830218', '86293976.638617'], [9792, 9771, 9759, 9756, 9749, 9744, 9743, 9740, 9723, 9718]),
 (None, None, 'b', 2, 'float8', 10000000, 9998781, 0, None, 0.0, None, 10000000, 0, 0, 46367740.3085844, 716655708775871.0, [46351147.8266397, 46384332.790529], 9.27354713436216, 92735471.3436216, ['92012190.3084242', '92174792.6838781', '91837569.4158841', '91947702.0616518', '91855318.9850993', '91673742.9322085', '92377419.6887639', '90072256.9833869', '92213964.1469736', '91776224.9015903'], [9803, 9789, 9779, 9772, 9762, 9760, 9749, 9737, 9733, 9733])]

In [60]:
%sql DROP TABLE IF EXISTS test10M; 
%sql CREATE TABLE test10M (a, b) AS SELECT generate_series(1, 10000000) * random() * 10 AS a, generate_series(1, 10000000) * random() * 10 AS b DISTRIBUTED BY (a);
#%sql SELECT * FROM test10M;
%sql ANALYZE test10M;
%sql DROP TABLE IF EXISTS test10M_summary; 
%sql SELECT * FROM madlib.summary('test10M', 'test10M_summary');
%sql SELECT * FROM test10M_summary;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
10000000 rows affected.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
(psycopg2.errors.AdminShutdown) terminating connection due to administrator command
CONTEXT:  SQL statement "CREATE TABLE test10M_summary AS
            SELECT
                group_by as group_by,
                group_by_value as group_by_value,
                target_column as target_column,
                colnum as column_number,
                datatype as data_type,
                rowcount as row_count,

                (CASE WHEN rowcount < distinct_values THEN rowcount
                ELSE distinct_values
                END) AS distinct_values,
                missing_values as missing_values,
                blank_values as blank_values,
                (missing_values::float8 / rowcount) as fraction_missing,
                (blank_values::float8 / rowcount) as fraction_blank,
                positive_values,
                negative_values,
                zero_values,
                mean,
                variance,
                CASE WHEN ci_lower_bound is NULL OR ci_upper_bound is NULL
                     THEN null
                     ELSE ARRAY[ci_lower_bound, ci_upper_bound]
                END as confidence_interval,
                min,
                max,
                first_quartile,
                median,
                third_quartile,

                mfv_value as most_frequent_values,
                mfv_count::bigint[] as mfv_frequencies
            FROM
            (

                SELECT
                    group_by,
                    group_by_value,
                    target_column,
                    datatype,
                    colnum,
                    rowcount,
                    distinct_values,
                    missing_values,
                    blank_values,
                    distinct_values::float8 / rowcount as fraction_distinct_values,
                    missing_values::float8 / rowcount as fraction_missing_values,
                    blank_values::float8 / rowcount as fraction_blank_values,
                    positive_values,
                    negative_values,
                    zero_values,
                    mean,
                    variance,
                    (mean - 1.96 * sqrt(variance / rowcount))::float8 as ci_lower_bound,
                    (mean + 1.96 * sqrt(variance / rowcount))::float8 as ci_upper_bound,
                    min,
                    max,
                    first_quartile,
                    median,
                    third_quartile,
                    ntiles,
                    string_to_array(mfv_value, '_.*.&.!.!.&.*_') as mfv_value,
                    string_to_array(mfv_count, '_.*.&.!.!.&.*_') as mfv_count
                FROM
                (
                    SELECT
                        group_by,
                        group_by_value,
                        unnest(target_column) AS target_column,
                        unnest(datatype) AS datatype,
                        unnest(colnum) AS colnum,
                        rowcount,
                        unnest(distinct_values) as distinct_values,
                        unnest(missing_values) as missing_values,
                        unnest(blank_values) as blank_values,
                        unnest(positive_values) as positive_values,
                        unnest(negative_values) as negative_values,
                        unnest(zero_values) as zero_values,
                        unnest(mean) as mean,
                        unnest(variance) as variance,
                        unnest(min) as min,
                        unnest(max) as max,
                        unnest(first_quartile) as first_quartile,
                        unnest(median) as median,
                        unnest(third_quartile) as third_quartile,
                        string_to_array(unnest(ntiles), ',') as ntiles,
                        unnest(mfv_value) as mfv_value,
                        unnest(mfv_count) as mfv_count
                    FROM (
                SELECT
                    NULL::text as group_by,
                    NULL::text as group_by_value,
                    array['a','b']::text[] as target_column,
                    array['float8','float8']::text[] as datatype,
                    array[1,2]::integer[] as colnum,
                    count(*)::bigint as rowcount,
                    array[sum(case when a > 0 then 1 else 0 end),sum(case when b > 0 then 1 else 0 end)]::bigint[] as positive_values,
                    array[sum(case when a < 0 then 1 else 0 end),sum(case when b < 0 then 1 else 0 end)]::bigint[] as negative_values,
                    array[sum(case when a = 0 then 1 else 0 end),sum(case when b = 0 then 1 else 0 end)]::bigint[] as zero_values,
                    array[avg(a),avg(b)]::float8[] as mean,
                    array[variance(a),variance(b)]::float8[] as variance,
                    array[madlib.fmsketch_dcount(a),madlib.fmsketch_dcount(b)]::bigint[] as distinct_values,
                    array[sum(case when a is null then 1 else 0 end),sum(case when b is null then 1 else 0 end)]::bigint[] as missing_values,
                    array[NULL,NULL]::bigint[] as blank_values,
                    array[min(a),min(b)]::float8[] as min,
                    array[max(a),max(b)]::float8[] as max,
                    array[percentile_cont(0.25) WITHIN GROUP (ORDER BY a),percentile_cont(0.25) WITHIN GROUP (ORDER BY b)]::float8[] as first_quartile,
                    array[percentile_cont(0.5) WITHIN GROUP (ORDER BY a),percentile_cont(0.5) WITHIN GROUP (ORDER BY b)]::float8[] as median,
                    array[percentile_cont(0.75) WITHIN GROUP (ORDER BY a),percentile_cont(0.75) WITHIN GROUP (ORDER BY b)]::float8[] as third_quartile,
                    array[array_to_string(array[NULL], ',')]::text[] as ntiles,
                    array[
                    array_to_string((madlib.mfvsketch_quick_histogram(
                                a,10))[0:10-1][0:0],
                                '_.*.&.!.!.&.*_'),
                    array_to_string((madlib.mfvsketch_quick_histogram(
                                b,10))[0:10-1][0:0],
                                '_.*.&.!.!.&.*_')]::text[] as mfv_value,
                    array[
                    array_to_string((madlib.mfvsketch_quick_histogram(
                                a,10))[0:10-1][1:1],
                                '_.*.&.!.!.&.*_'),
                    array_to_string((madlib.mfvsketch_quick_histogram(
                                b,10))[0:10-1][1:1],
                                '_.*.&.!.!.&.*_')]::text[] as mfv_count
                FROM test10M
         ) q1
                ) q2


            ) q3

                DISTRIBUTED BY (group_by)"
PL/Python function "summary"
ERROR:  server conn crashed?
SSL connection has been closed unexpectedly

[SQL: SELECT * FROM madlib.summary('test10M', 'test10M_summary' );]
(Background on this error at: http://sqlalche.me/e/e3q8)
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev

DatabaseError: (psycopg2.errors.ProtocolViolation) query_wait_timeout
SSL connection has been closed unexpectedly

[SQL: SELECT * FROM test10M_summary;]
(Background on this error at: http://sqlalche.me/e/4xp6)

In [18]:
%sql DROP TABLE IF EXISTS test100M; 
%sql CREATE TABLE test100M (a, b) AS SELECT generate_series(1, 100000000) * random() * 10 AS a, generate_series(1, 100000000) * random() * 10 AS b DISTRIBUTED BY (a);
#%sql SELECT * FROM test100M;
#%sql ANALYZE test100M;
#%sql DROP TABLE IF EXISTS test100M_summary; 
#%sql SELECT * FROM madlib.summary('test100M', 'test100M_summary');
#%sql SELECT * FROM test100M_summary;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
100000000 rows affected.

[]

In [17]:
%sql DROP TABLE IF EXISTS test1B; 
%sql CREATE TABLE test1B (a, b) AS SELECT generate_series(1, 1000000000) * random() * 10 AS a, generate_series(1, 1000000000) * random() * 10 AS b DISTRIBUTED BY (a);
#%sql SELECT * FROM test1B;
#%sql ANALYZE test1B;
#%sql DROP TABLE IF EXISTS test1B_summary; 
#%sql SELECT * FROM madlib.summary('test1B', 'test1B_summary');
#%sql SELECT * FROM test1B_summary;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
(psycopg2.errors.QueryCanceled) canceling statement due to user request: "gpmon canceled this query from GPCC UI."

[SQL: CREATE TABLE test1B (a, b) AS SELECT generate_series(1, 1000000000) * random() * 10 AS a, generate_series(1, 1000000000) * random() * 10 AS b DISTRIBUTED BY (a);]
(Background on this error at: http://sqlalche.me/e/e3q8)