In [1]:
import os, re
from IPython.display import display_html

import pygments.lexers
from pygments import highlight
from pygments.formatters import HtmlFormatter

CONNECTION_STRING = os.getenv('AWSGPDBCONN')

cs = re.match('^postgresql:\/\/(\S+):(\S+)@(\S+):(\S+)\/(\S+)$', CONNECTION_STRING)

DB_USER   = cs.group(1)
DB_PWD    = cs.group(2)
DB_SERVER = cs.group(3)
DB_PORT   = cs.group(4)
DB_NAME   = cs.group(5)

%reload_ext sql

In [2]:
%sql $CONNECTION_STRING
%sql $DB_USER@$DB_NAME {"SELECT version();"}

1 rows affected.

[('PostgreSQL 9.4.24 (Greenplum Database 6.12.0 build commit:4c176763c7619fb678ce38095e6b3e8fb9548186) on x86_64-unknown-linux-gnu, compiled by gcc (GCC) 6.4.0, 64-bit compiled on Oct 28 2020 19:42:15',)]

In [3]:
sqlfilecode = !pygmentize -f html -O full,style=friendly -l postgres script/2-1-create-db-schema-table.sql
display_html('\n'.join(sqlfilecode), raw=True)

In [4]:
query = !cat script/2-1-create-db-schema-table.sql
%sql $DB_USER@$DB_NAME {''.join(query)}

Done.
Done.
Done.
Done.

[]

In [9]:
%%sql 
DROP EXTERNAL TABLE IF EXISTS demo.amzn_reviews_ext;
CREATE EXTERNAL TABLE demo.amzn_reviews_ext(
    marketplace TEXT, 
    customer_id BIGINT, 
    review_id TEXT, 
    product_id TEXT, 
    product_parent BIGINT, 
    product_title TEXT, 
    product_category TEXT, 
    star_rating INTEGER, 
    helpful_votes INTEGER, 
    total_votes INTEGER, 
    vine TEXT, 
    verified_purchase TEXT, 
    review_headline TEXT, 
    review_body TEXT, 
    review_date DATE) 
LOCATION ('pxf://amazon-reviews-pds/tsv/?PROFILE=s3:text&SERVER=s3srvcfg')
FORMAT 'TEXT' (HEADER ) SEGMENT REJECT LIMIT 1000 ROWS;
SELECT * FROM demo.amzn_reviews_ext LIMIT 2000;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
Done.

[]

In [46]:
%%sql 
DROP EXTERNAL TABLE IF EXISTS demo.amzn_reviews_ext_parquet;
CREATE EXTERNAL TABLE demo.amzn_reviews_ext_parquet (
    marketplace TEXT, 
    customer_id BIGINT, 
    review_id TEXT, 
    product_id TEXT, 
    product_parent BIGINT, 
    product_title TEXT, 
    star_rating INTEGER, 
    helpful_votes INTEGER, 
    total_votes INTEGER, 
    vine TEXT, 
    verified_purchase TEXT, 
    review_headline TEXT, 
    review_body TEXT, 
    review_date DATE) 
LOCATION ('pxf://amazon-reviews-pds/parquet/*?PROFILE=s3:parquet&SERVER=s3srvcfg')
FORMAT 'TEXT' ( HEADER )
LOG ERRORS SEGMENT REJECT LIMIT 1000;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
Done.

[]

In [ ]:
%%sql
SELECT COUNT(*) FROM demo.amzn_reviews_ext_parquet;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev

In [10]:
%%sql
SELECT marketplace, COUNT(*) FROM demo.amzn_reviews_ext GROUP BY marketplace;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
5 rows affected.

[('US', 157886668),
 ('JP', 262429),
 ('UK', 1707471),
 ('FR', 254116),
 ('DE', 679106)]

In [5]:
%sql DROP TABLE IF EXISTS test100; 
%sql CREATE TABLE test100 (a, b) AS SELECT generate_series(1, 100) * random() * 10 AS a, generate_series(1, 100) * random() * 10 AS b DISTRIBUTED BY (a);
#%sql SELECT * FROM test100;
%sql DROP TABLE IF EXISTS test100_summary; 
%sql SELECT * FROM madlib.summary('test100', 'test100_summary');
#%sql SELECT * FROM test100_summary;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
100 rows affected.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
1 rows affected.

[('test100_summary', 2, 0.147065877914429)]

In [6]:
%sql DROP TABLE IF EXISTS test1000; 
%sql CREATE TABLE test1000 (a, b) AS SELECT generate_series(1, 1000) * random() * 10 AS a, generate_series(1, 1000) * random() * 10 AS b DISTRIBUTED BY (a);
%sql SELECT * FROM test1000;
%sql DROP TABLE IF EXISTS test1000_summary; 
%sql SELECT * FROM madlib.summary('test1000', 'test1000_summary');
#%sql SELECT * FROM test100_summary;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
1000 rows affected.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
1000 rows affected.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
1 rows affected.

[('test1000_summary', 2, 0.110813140869141)]

In [7]:
%sql DROP TABLE IF EXISTS test10K; 
%sql CREATE TABLE test10K (a, b) AS SELECT generate_series(1, 10000) * random() * 10 AS a, generate_series(1, 10000) * random() * 10 AS b DISTRIBUTED BY (a);
#%sql SELECT * FROM test10K;
%sql ANALYZE test10K;
%sql DROP TABLE IF EXISTS test10K_summary; 
%sql SELECT * FROM madlib.summary('test10K', 'test10K_summary');
#%sql SELECT * FROM test10K_summary;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
10000 rows affected.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
1 rows affected.

[('test10K_summary', 2, 0.593071937561035)]

In [21]:
%sql DROP TABLE IF EXISTS test100K; 
%sql CREATE TABLE test100K (a, b) AS SELECT generate_series(1, 100000) * random() * 10 AS a, generate_series(1, 100000) * random() * 10 AS b DISTRIBUTED BY (a);
#%sql SELECT * FROM test100K;
%sql ANALYZE test100K;
%sql DROP TABLE IF EXISTS test100K_summary; 
%sql SELECT * FROM madlib.summary('test100K', 'test100K_summary');
%sql SELECT * FROM test100K_summary;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
100000 rows affected.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
1 rows affected.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
2 rows affected.

[(None, None, 'a', 1, 'float8', 100000, 98598, 0, None, 0.0, None, 100000, 0, 0, 151478.593445148, 7648511605.59027, [150936.536970378, 152020.649919918], 3.02954157348722, 302954.157348722, 75740.8114933607, 151478.593445148, 227216.375396935, ['269611.022790922', '284313.388047055', '254072.504060506', '265375.723671187', '269165.680179619', '284355.801629084', '259146.986196097', '274482.525641089', '278063.443780951', '268490.092408732'], [100, 99, 99, 99, 99, 99, 99, 99, 97, 97]),
 (None, None, 'b', 2, 'float8', 100000, 99942, 0, None, 0.0, None, 100000, 0, 0, 62589.7166740567, 1305811153.00141, [62365.7433692775, 62813.6899788358], 1.25178181566298, 125178.181566298, 31295.4842279362, 62589.7166740568, 93883.9491201774, ['114931.095623281', '120029.602958476', '122797.292552907', '111563.802539147', '123618.461423982', '117473.464490892', '108138.927491494', '119312.331978101', '115160.171695547', '112208.470174214'], [101, 99, 99, 99, 99, 99, 98, 98, 98, 98])]

In [26]:
%%sql
EXPLAIN SELECT 
	array['a','b']::text[] as target_column, 
	array['float8','float8']::text[] as datatype, 
	array[1,2]::integer[] as colnum, 
	count(*)::bigint as rowcount, 
	array[sum(case when a > 0 then 1 else 0 end),sum(case when b > 0 then 1 else 0 end)]::bigint[] as positive_values, 
	array[sum(case when a < 0 then 1 else 0 end),sum(case when b < 0 then 1 else 0 end)]::bigint[] as negative_values, 
	array[sum(case when a = 0 then 1 else 0 end),sum(case when b = 0 then 1 else 0 end)]::bigint[] as zero_values, 
	array[avg(a),avg(b)]::float8[] as mean, 
	array[variance(a),variance(b)]::float8[] as variance, 
	array[madlib.fmsketch_dcount(a),madlib.fmsketch_dcount(b)]::bigint[] as distinct_values, 
	array[sum(case when a is null then 1 else 0 end),sum(case when b is null then 1 else 0 end)]::bigint[] as missing_values, 
	array[NULL,NULL]::bigint[] as blank_values, 
	array[min(a),min(b)]::float8[] as min, 
	array[max(a),max(b)]::float8[] as max, 
--	array[percentile_cont(0.25) WITHIN GROUP (ORDER BY a),percentile_cont(0.25) WITHIN GROUP (ORDER BY b)]::float8[] as first_quartile, 
--	array[percentile_cont(0.5) WITHIN GROUP (ORDER BY a),percentile_cont(0.5) WITHIN GROUP (ORDER BY b)]::float8[] as median, 
--	array[percentile_cont(0.75) WITHIN GROUP (ORDER BY a),percentile_cont(0.75) WITHIN GROUP (ORDER BY b)]::float8[] as third_quartile, 
	array[array_to_string(array[NULL], ',')]::text[] as ntiles, 
	array[ 
	array_to_string((madlib.mfvsketch_quick_histogram( 
		a,10))[0:10-1][0:0], 
	'_.*.&.!.!.&.*_'), 
	array_to_string((madlib.mfvsketch_quick_histogram( 
		b,10))[0:10-1][0:0], 
	'_.*.&.!.!.&.*_')]::text[] as mfv_value, 
	array[ 
	array_to_string((madlib.mfvsketch_quick_histogram( 
		a,10))[0:10-1][1:1], 
	'_.*.&.!.!.&.*_'), 
	array_to_string((madlib.mfvsketch_quick_histogram( 
		b,10))[0:10-1][1:1], 
	'_.*.&.!.!.&.*_')]::text[] as mfv_count 
FROM test100M;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
5 rows affected.

[('Result  (cost=0.00..431.00 rows=1 width=136)',),
 ('  ->  Aggregate  (cost=0.00..431.00 rows=1 width=184)',),
 ('        ->  Gather Motion 72:1  (slice1; segments: 72)  (cost=0.00..431.00 rows=1 width=16)',),
 ('              ->  Seq Scan on test100m  (cost=0.00..431.00 rows=1 width=16)',),
 ('Optimizer: Pivotal Optimizer (GPORCA)',)]

In [9]:
%sql DROP TABLE IF EXISTS test1M; 
%sql CREATE TABLE test1M (a, b) AS SELECT generate_series(1, 1000000) * random() * 10 AS a, generate_series(1, 1000000) * random() * 10 AS b DISTRIBUTED BY (a);
#%sql SELECT * FROM test1M;
%sql ANALYZE test1M;
%sql DROP TABLE IF EXISTS test1M_summary; 
%sql SELECT * FROM madlib.summary('test1M', 'test1M_summary');
#%sql SELECT * FROM test1M_summary;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
1000000 rows affected.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
1 rows affected.

[('test1M_summary', 2, 7.44582605361938)]

In [27]:
%%sql
EXPLAIN ANALYSE SELECT 
	NULL::text as group_by, 
	NULL::text as group_by_value, 
	array['a','b']::text[] as target_column, 
	array['float8','float8']::text[] as datatype, 
	array[1,2]::integer[] as colnum, 
	count(*)::bigint as rowcount, 
	array[sum(case when a > 0 then 1 else 0 end),sum(case when b > 0 then 1 else 0 end)]::bigint[] as positive_values, 
	array[sum(case when a < 0 then 1 else 0 end),sum(case when b < 0 then 1 else 0 end)]::bigint[] as negative_values, 
	array[sum(case when a = 0 then 1 else 0 end),sum(case when b = 0 then 1 else 0 end)]::bigint[] as zero_values, 
	array[avg(a),avg(b)]::float8[] as mean, 
	array[variance(a),variance(b)]::float8[] as variance, 
	array[madlib.fmsketch_dcount(a),madlib.fmsketch_dcount(b)]::bigint[] as distinct_values, 
	array[sum(case when a is null then 1 else 0 end),sum(case when b is null then 1 else 0 end)]::bigint[] as missing_values, 
	array[NULL,NULL]::bigint[] as blank_values, 
	array[min(a),min(b)]::float8[] as min, 
	array[max(a),max(b)]::float8[] as max, 
--	array[percentile_cont(0.25) WITHIN GROUP (ORDER BY a),percentile_cont(0.25) WITHIN GROUP (ORDER BY b)]::float8[] as first_quartile, 
--	array[percentile_cont(0.5) WITHIN GROUP (ORDER BY a),percentile_cont(0.5) WITHIN GROUP (ORDER BY b)]::float8[] as median, 
--	array[percentile_cont(0.75) WITHIN GROUP (ORDER BY a),percentile_cont(0.75) WITHIN GROUP (ORDER BY b)]::float8[] as third_quartile, 
	array[array_to_string(array[NULL], ',')]::text[] as ntiles, 
	array[ 
	array_to_string((madlib.mfvsketch_quick_histogram( 
		a,10))[0:10-1][0:0], 
	'_.*.&.!.!.&.*_'), 
	array_to_string((madlib.mfvsketch_quick_histogram( 
		b,10))[0:10-1][0:0], 
	'_.*.&.!.!.&.*_')]::text[] as mfv_value, 
	array[ 
	array_to_string((madlib.mfvsketch_quick_histogram( 
		a,10))[0:10-1][1:1], 
	'_.*.&.!.!.&.*_'), 
	array_to_string((madlib.mfvsketch_quick_histogram( 
		b,10))[0:10-1][1:1], 
	'_.*.&.!.!.&.*_')]::text[] as mfv_count 
FROM test100M

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
(psycopg2.errors.QueryCanceled) canceling statement due to user request: "gpmon canceled this query from GPCC UI."

[SQL: EXPLAIN ANALYSE SELECT NULL::text as group_by,
	NULL::text as group_by_value,
	array['a','b']::text[] as target_column,
	array['float8','float8']::text[] as datatype,
	array[1,2]::integer[] as colnum,
	count(*)::bigint as rowcount,
	array[sum(case when a > 0 then 1 else 0 end),sum(case when b > 0 then 1 else 0 end)]::bigint[] as positive_values,
	array[sum(case when a < 0 then 1 else 0 end),sum(case when b < 0 then 1 else 0 end)]::bigint[] as negative_values,
	array[sum(case when a = 0 then 1 else 0 end),sum(case when b = 0 then 1 else 0 end)]::bigint[] as zero_values,
	array[avg(a),avg(b)]::float8[] as mean,
	array[variance(a),variance(b)]::float8[] as variance,
	array[madlib.fmsketch_dcount(a),madlib.fmsketch_dcount(b)]::bigint[] as distinct_values,
	array[sum(case when a is null then 1 else 0 end),sum(case when b is null then 1 else 0 end)]::bigint[] as missing_values,
	array[NULL,NULL]::bigint[] as blank_values,
	array[min(a),min(b)]::float8[] as min,
	array[max(a),max(b)]::float8[] as max,
--	array[percentile_cont(0.25) WITHIN GROUP (ORDER BY a),percentile_cont(0.25) WITHIN GROUP (ORDER BY b)]::float8[] as first_quartile,
--	array[percentile_cont(0.5) WITHIN GROUP (ORDER BY a),percentile_cont(0.5) WITHIN GROUP (ORDER BY b)]::float8[] as median,
--	array[percentile_cont(0.75) WITHIN GROUP (ORDER BY a),percentile_cont(0.75) WITHIN GROUP (ORDER BY b)]::float8[] as third_quartile,
	array[array_to_string(array[NULL], ',')]::text[] as ntiles,
	array[
	array_to_string((madlib.mfvsketch_quick_histogram(
		a,10))[0:10-1][0:0],
	'_.*.&.!.!.&.*_'),
	array_to_string((madlib.mfvsketch_quick_histogram(
		b,10))[0:10-1][0:0],
	'_.*.&.!.!.&.*_')]::text[] as mfv_value,
	array[
	array_to_string((madlib.mfvsketch_quick_histogram(
		a,10))[0:10-1][1:1],
	'_.*.&.!.!.&.*_'),
	array_to_string((madlib.mfvsketch_quick_histogram(
		b,10))[0:10-1][1:1],
	'_.*.&.!.!.&.*_')]::text[] as mfv_count
FROM test100M]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [29]:
%sql DROP TABLE IF EXISTS test10M; 
%sql CREATE TABLE test10M (a, b) AS SELECT generate_series(1, 10000000) * random() * 10 AS a, generate_series(1, 10000000) * random() * 10 AS b DISTRIBUTED BY (a);
#%sql SELECT * FROM test10M;
%sql ANALYZE test10M;
%sql DROP TABLE IF EXISTS test10M_summary; 
%sql SELECT * FROM madlib.summary('test10M', 'test10M_summary');
%sql SELECT * FROM test10M_summary;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
10000000 rows affected.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
1 rows affected.

[('test10M_summary', 2, 133.507742881775)]

In [18]:
%sql DROP TABLE IF EXISTS test100M; 
%sql CREATE TABLE test100M (a, b) AS SELECT generate_series(1, 100000000) * random() * 10 AS a, generate_series(1, 100000000) * random() * 10 AS b DISTRIBUTED BY (a);
#%sql SELECT * FROM test100M;
#%sql ANALYZE test100M;
#%sql DROP TABLE IF EXISTS test100M_summary; 
#%sql SELECT * FROM madlib.summary('test100M', 'test100M_summary');
#%sql SELECT * FROM test100M_summary;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
100000000 rows affected.

[]

In [17]:
%sql DROP TABLE IF EXISTS test1B; 
%sql CREATE TABLE test1B (a, b) AS SELECT generate_series(1, 1000000000) * random() * 10 AS a, generate_series(1, 1000000000) * random() * 10 AS b DISTRIBUTED BY (a);
#%sql SELECT * FROM test1B;
#%sql ANALYZE test1B;
#%sql DROP TABLE IF EXISTS test1B_summary; 
#%sql SELECT * FROM madlib.summary('test1B', 'test1B_summary');
#%sql SELECT * FROM test1B_summary;

 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
Done.
 * postgresql://gpadmin:***@ec2-35-178-74-236.eu-west-2.compute.amazonaws.com:5432/dev
(psycopg2.errors.QueryCanceled) canceling statement due to user request: "gpmon canceled this query from GPCC UI."

[SQL: CREATE TABLE test1B (a, b) AS SELECT generate_series(1, 1000000000) * random() * 10 AS a, generate_series(1, 1000000000) * random() * 10 AS b DISTRIBUTED BY (a);]
(Background on this error at: http://sqlalche.me/e/e3q8)